.breadcrumb {
  display: flex;
  align-items: center;

  &-item {
    padding-left: 16px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    color: #9492af;
    line-height: 32px;

    @include respond-below($screen-md) {
      padding-left: 10px;
      font-size: 14px;
      line-height: 24px;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  .prev-page {
    .link {
      position: relative;
      padding-right: 32px;
      color: #9492af;

      @include respond-below($screen-md) {
        padding-right: 26px;
      }

      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 20px;
        height: 20px;
        background: url(../../img/svg/icon-arrow.svg) no-repeat;
        background-size: 100% auto;
        transition: .2s ease-in-out;
        transform: translateY(-50%);
        content: '';

        @include respond-below($screen-md) {
          width: 16px;
          height: 16px;
        }
      }

      .text {
        position: relative;
        padding-bottom: 3px;
        transition: color .2s ease-in-out;

        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 1px;
          background: $primary;
          transition: width .2s ease-out;
          transform: translateX(-50%);
          content: '';
        }
      }

      &:hover {
        .text {
          color: $primary;

          &:after {
            width: 100%;
          }
        }
      }
    }
  }

  .current-page {
    color: $secondary;
  }
}