.main-content {
  @media (max-width: 1600px) {
    padding-left: 300px;
  }

  @include respond-between($screen-md, $screen-lg) {
    padding-left: 250px;
  }

  @include respond-between($screen-sm, $screen-md) {
    padding: 85px 0 0;
  }

  @include respond-below($screen-sm) {
    height: auto;
    padding: 60px 0 0;
  }

  .section {
    padding: 100px 0;
    @include respond-below($screen-lg) {
      padding: 30px 0;
    }
  }

  .card {
    overflow: hidden;
    width: 100%;

    &-thumb {
      overflow: hidden;
      position: relative;
      padding-top: 115.2%;
      border-radius: 4px;

      @include respond-below($screen-md) {
        padding-top: 92%;
      }
      
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
        transition: all 0.4s cubic-bezier(0, 0, 0.5, 1);
      }
    }

    &-info {
      .category {
        display: block;
        margin-top: 24px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Karla', sans-serif;
        color: $secondary;
        line-height: 32px;
        text-transform: uppercase;

        @include respond-below($screen-lg) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .name {
        display: block;
        margin-top: 6px;
        font-size: 24px;
        font-weight: 600;
        color: $primary;
        line-height: 32px;

        @include respond-below($screen-lg) {
          font-size: 21px;
        }
      }
    }

    &:hover {
      .card-thumb {
        img {
          transform: scale(1.06);
        }
      }
    }
  }

  .divider {
    overflow: hidden;
    width: 100%;
    border-top: 1px solid $dark;
    border-bottom: 1px solid $dark;
    background-color: #F8F4E9;
    transform: rotate(0.9deg);

    &-box {
      display: flex;
      justify-content: center;
      width: fit-content;

      &[data-animate="true"] {
        .divider-list {
          animation: scrollText linear infinite;
        }
      }
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: max-content;
      padding: 38px 0;
      animation: none;

      @include respond-below($screen-md) {
        padding: 24px 0;
      }
    }

    &-item {
      margin-left: 100px;
      font-size: 18px;
      font-weight: 700;
      color: $primary;
      white-space: nowrap;

      @include respond-below($screen-md) {
        font-size: 14px;
      }
    }
  }

  &.home-page,
  &.contact-page {
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 340px;
      z-index: -1;
      background-color: #EFFBF8;
      content: '';

      @media (max-width: 1600px) {
        left: 300px;
      }

      @include respond-below($screen-lg) {
        left: 250px;
      }

      @include respond-below($screen-md) {
        left: 0;
      }
    }
  }
}


/* Keyframe */
@-webkit-keyframes scrollText {
  from {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes scrollText {
  from {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}