.popup {
  &-head {
    margin-top: 20px;
    padding: 0;

    .company-name {
      display: block;
      font-size: 18px;
      font-weight: 500;
      font-family: 'Karla', sans-serif;
      color: $secondary;
      line-height: 32px;
    }

    .position {
      display: block;
      margin-top: 5px;
      font-size: 25px;
      font-weight: 700;
      color: $primary;
      line-height: 32px;
    }
  }

  &-body {
    margin-top: 30px;
    padding: 0;

    .text {
      position: relative;
      margin-top: 12px;
      padding-left: 14px;
      font-size: 18px;
      font-weight: 400;
      font-family: 'Karla', sans-serif;
      color: $secondary;
      line-height: 28px;

      &:before {
        position: absolute;
        top: 14px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $secondary;
        content: '';
      }

      &-key {
        display: block;
        font-size: 18px;
        font-weight: 500;
        color: $primary;
        line-height: 28px;

        &:not(:first-child) {
          margin-top: 20px;
        }
      }

      &-link {
        margin-left: 4px;
        color: $secondary;
        text-decoration: underline;
        text-underline-position: under;
        transition: color .2s ease-in-out;

        &:hover {
          color: $primary;
        }

        & + .text-link {
          display: block;
          margin: 6px 0 0 46px;
        }
      }
    }
  }

  .MuiPaper-root {
    display: block;
    max-width: 900px;
    padding: 70px 50px 50px;
    @include respond-below($screen-md) {
      padding: 70px 28px 40px;
    }

    &::-webkit-scrollbar {
      width:5px
    }

    &::-webkit-scrollbar-thumb {
      background-color:$highlight-color;
      border-radius:6px
    }
  }

  .cover-image {
    position: relative;
    padding-top: 42.5%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .time-working {
    display: inline-block;
    margin-top: 20px;
    padding: 4px 20px;
    border-radius: 4px;
    background-color: $highlight-color;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Karla', sans-serif;
    color: $primary;
    line-height: 32px;
    text-align: center;
  }

  .btn-close {
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid $dark;
    border-radius: 10px;
    transition: all .3s ease;

    .ic {
      width: 18px;
      height: 18px;
      background: url(../../img/svg/icon-close-black.svg) no-repeat;
      background-size: 100% auto;
    }

    &:hover {
      border-radius: 100%;
    }
  }
}