@charset "utf-8";
/* Reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;}
html,body{width:100%;height:100%;}
img,fieldset{border:0;vertical-align:top;}
dl,ul,ol,menu,li{padding:0;list-style:none;}
address,caption,em{font-style:normal;}
a{display:inline-block;text-decoration:none;}
table{border-spacing:0;border-collapse:collapse;}
hr{display:none;}
button{border:0;background:transparent;cursor:pointer;}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;}