$primary: #130f49;
$secondary: #55527c;
$dark: #000;
$white: #fff;
$yellow: #ff972d;
$purple: #5D3BEE;
$highlight-color: #a5a6ff;

$inner: 'screen and (max-width: 1280px)';
$tablet: 'screen and (max-width: 1024px)';
$mobile: 'screen and (max-width: 768px)';