$screen-xsm: 360px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1366px;
$screen-xlg: 1920px;

$primary: #130f49;
$secondary: #55527c;
$dark: #000;
$white: #fff;
$yellow: #ff972d;
$purple: #5D3BEE;
$highlight-color: #a5a6ff;