.blog-page {
  .section {
    &-col {
      display: flex;
      justify-content: space-between;
      position: relative;
      gap: 200px;

      @include respond-between($screen-md, $screen-lg) {
        gap: 100px;
      }

      @include respond-below($screen-md) {
        flex-direction: column;
        gap: 50px;
      }
    }

    &-head {
      position: sticky;
      top: 100px;
      height: 100%;

      @include respond-below($screen-md) {
        position: static;
      }

      .btn-get {
        margin-top: 44px;
      }
    }

    &-content {
      flex: 1;
      overflow-y: auto;
    }
  }

  .blog {
    &-item {
      margin-bottom: 44px;

      .item {
        &-time {
          display: flex;
          align-items: center;
        }

        &-text {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-top: 12px;
          gap: 30px;

          @include respond-below($screen-sm) {
            flex-direction: column;
            gap: 14px;
          }
        }
      }

      .value {
        font-size: 18px;
        font-weight: 500;
        font-family: 'Karla', sans-serif;
        color: $secondary;
        line-height: 32px;

        @include respond-below($screen-md) {
          font-size: 15px;
        }
      }

      .icon-calendar {
        width: 18px;
        height: 18px;
        margin-right: 12px;
        background: url(../../../img/svg/icon-calendar.svg) no-repeat;
        background-size: 100% auto;

        @include respond-below($screen-md) {
          width: 15px;
          height: 15px;
          margin-right: 8px;
        }
      }

      .link {
        &-text {
          max-width: 422px;
          font-size: 28px;
          font-weight: 600;
          color: $primary;
          line-height: 36px;

          @include respond-below($screen-lg) {
            font-size: 24px;
            line-height: 30px;
          }

          @include respond-below($screen-md) {
            font-size: 20px;
          }

          span {
            background: linear-gradient(0deg, #FFD6AB, #FFD6AB) no-repeat right bottom / 0 100%;
            transition: background-size 0.3s ease-in-out;
          }

          &:hover {
            span {
              background-position-x: left;
              background-size: 100% 100%;
            }
          }
        }

        &-button {
          position: relative;
          padding-right: 28px;
          font-size: 18px;
          font-weight: 500;
          color: $secondary;
          line-height: 32px;
          white-space: nowrap;
          // transition: .3s ease-in-out;

          @include respond-below($screen-lg) {
            font-size: 14px;
            line-height: 22px;
          }

          &:after {
            position: absolute;
            top: 50%;
            right: 5px;
            width: 16px;
            height: 16px;
            background: url(../../../img/svg/icon-arrow-right.svg) no-repeat;
            background-size: 100% auto;
            transition: .2s ease-in-out;
            transform: translateY(-50%);
            content: '';
          }

          &:hover {
            &:after {
              right: 0;
            }
          }
        }
      }
    }
  }

  &-detail {
    .title-main {
      margin-top: 30px;
    }
    
    .time {
      display: flex;
      align-items: center;
      margin-top: 30px;

      .value {
        margin-left: 8px;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        color: #55527c;

        @include respond-below($screen-md) {
          font-size: 14px;
        }
      }

      .icon-calendar {
        width: 18px;
        height: 18px;
        background: url(../../../img/svg/icon-calendar.svg) no-repeat;
        background-size: 100% auto;
      }
    }

    .blog-content {
      margin-top: 50px;

      @include respond-below($screen-md) {
        margin-top: 20px;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}