.contact-page {
  .section {
    &-head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 120px;
      gap: 160px;

      @include respond-between($screen-sm, $screen-lg) {
        gap: 80px;
      }

      @include respond-below($screen-sm) {
        gap: 50px;
        flex-direction: column;
        margin-bottom: 40px;
      }

      &-left {
        width: 46%;

        @include respond-below($screen-sm) {
          width: 100%;
        }

        .text-desc {
          margin-top: 32px;
          font-size: 18px;
          font-weight: 400;
          font-family: 'Karla', sans-serif;
          color: $secondary;
          line-height: 32px;

          @include respond-below($screen-sm) {
            font-size: 14px;
            line-height: 24px;
          }
        }

        .contact {
          margin-top: 32px;

          @include respond-below($screen-sm) {
            margin-top: 20px;
          }
        }
      }

      &-right {
        display: flex;
        flex: 1;
        flex-direction: column;

        @include respond-below($screen-sm) {
          width: 100%;
        }
      }

      .input-item {
        margin-bottom: 25px;
        padding: 10px 20px;
        border: 1px solid #EEE;
        background: $white;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Karla', sans-serif;
        color: $secondary;
        line-height: 32px;

        @include respond-below($screen-sm) {
          margin-bottom: 16px;
          padding: 10px 14px;
          font-size: 14px;
          line-height: 24px;
        }

        &::placeholder {
          color: rgba(85, 82, 124, 0.60);
        }

        &:focus {
          outline: 0;
          border-color: rgba(85, 82, 124, 0.60);
        }
      }

      .btn-submit {
        max-width: 200px;

        @include respond-below($screen-md) {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    &-content {
      img {
        width: 100%;
      }
    }
  }
}