.main-content {
  height: 100vh;

  @media (max-width: 1600px) {
    padding-left: 300px;
  }

  @include respond-below($screen-lg) {
    padding-left: 250px;
  }

  @include respond-below($screen-md) {
    position: relative;
    height: auto;
    padding: 120px 50px;
  }

  @include respond-below($screen-sm) {
    padding: 60px 20px;
  }

  .intro {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 80px 0;

    @include respond-below($screen-md) {
      flex-direction: column;
      margin-top: 40px;
    }

    &-box {
      display: flex;
      align-items: flex-start;
    }

    &-text {
      width: 50%;

      @include respond-below($screen-md) {
        order: 2;
        width: 100%;
        margin-top: 50px;
      }

      .text {
        &-title {
          font-size: 60px;
          font-weight: 800;
          color: $primary;
          line-height: 80px;
          text-transform: capitalize;

          @media (max-width: 1600px) {
            font-size: 44px;
            line-height: 58px;
          }

          @include respond-below($screen-lg) {
            font-size: 34px;
            line-height: 48px;
          }

          @include respond-below($screen-sm) {
            font-size: 32px;
            line-height: 42px;
          }
        }

        &-desc {
          margin-top: 40px;
          font-size: 18px;
          font-weight: 400;
          font-family: 'Karla', sans-serif;
          color: $secondary;
          line-height: 32px;

          @include respond-below($screen-sm) {
            font-size: 16px;
            line-height: 30px;
          }
        }

        &-highlight {
          color: $highlight-color;
        }
      }

      .btn-group {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        gap: 15px;

        .btn {
          min-width: 200px;
          @include respond-below($screen-lg) {
            min-width: 150px;
          }
        }
      }

      .contact {
        margin-top: 120px;

        @include respond-below($screen-md) {
          margin-top: 70px;
        }
      }
    }

    &-image {
      flex: 1;
      order: 1;
      margin-left: 120px;

      @include respond-below($screen-lg) {
        margin-left: 80px;
      }

      @include respond-below($screen-md) {
        width: 70%;
        margin-left: 0;
      }

      @include respond-below($screen-sm) {
        width: 60%;
      }

      img {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }

  &.home-page,
  &.contact-page {
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 340px;
      z-index: -1;
      background-color: #EFFBF8;
      content: '';

      @media (max-width: 1600px) {
        left: 300px;
      }

      @include respond-below($screen-lg) {
        left: 250px;
      }

      @include respond-below($screen-md) {
        left: 0;
      }
    }

    .icon-decor {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 370px;
      z-index: -1;

      @media (max-width: 1600px) {
        left: 300px;
      }

      @include respond-below($screen-lg) {
        left: 280px;
      }

      @include respond-below($screen-sm) {
        left: 0;
      }
    }

    .icon-semicircle-outline {
      display: block;

      @include respond-below($screen-sm) {
        display: none;
      }
    }
  }
}