.main-content {
  height: 100vh;

  @media (max-width: 1600px) {
    padding-left: 300px;
  }

  @include respond-below($screen-lg) {
    padding-left: 250px;
  }

  @include respond-below($screen-md) {
    position: relative;
    // height: 100%;
    padding: 120px 50px;
  }

  @include respond-below($screen-sm) {
    height: 100%;
    padding: 60px 0;
  }

  .intro {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 80px 0;

    @include respond-below($screen-md) {
      position: relative;
    }

    @include respond-below($screen-sm) {
      flex-direction: column;
      padding: 40px 0 0;
    }

    &-box {
      display: flex;
      align-items: flex-start;
    }

    &-text {
      width: 50%;

      @include respond-below($screen-md) {
        order: 2;
        width: 100%;
      }

      @include respond-below($screen-sm) {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
      }

      .text {
        &-title {
          font-size: 60px;
          font-weight: 800;
          color: $primary;
          line-height: 80px;
          text-transform: capitalize;

          @media (max-width: 1600px) {
            font-size: 44px;
            line-height: 58px;
          }

          @include respond-below($screen-lg) {
            font-size: 34px;
            line-height: 48px;
          }

          @include respond-below($screen-md) {
            padding-right: 300px;
            font-size: 32px;
            line-height: 42px;
          }

          @include respond-below($screen-sm) {
            order: 1;
            padding-right: 0;
            font-size: 28px;
            line-height: 34px;
          }
        }

        &-desc {
          margin-top: 40px;
          font-size: 18px;
          font-weight: 400;
          font-family: 'Karla', sans-serif;
          color: $secondary;
          line-height: 32px;

           @include respond-between($screen-sm, $screen-md) {
            margin-top: 62px;
          }

          @include respond-below($screen-sm) {
            order: 2;
            margin-top: 32px;
            font-size: 16px;
            line-height: 30px;
          }
        }

        &-highlight {
          color: $highlight-color;
        }
      }

      .btn-group {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        gap: 15px;

        @include respond-below($screen-sm) {
          order: 4;
          margin-top: 32px;
        }

        .btn {
          min-width: 200px;
          @include respond-below($screen-lg) {
            min-width: 150px;
          }

          @include respond-below($screen-sm) {
            width: 100%;
          }
        }
      }

      .contact {
        margin-top: 120px;

        @include respond-below($screen-md) {
          margin-top: 70px;
        }

        @include respond-below($screen-sm) {
          order: 3;
          margin-top: 32px;
        }
      }
    }

    &-image {
      flex: 1;
      order: 1;
      margin-left: 120px;

      @include respond-below($screen-lg) {
        margin-left: 80px;
      }

      @include respond-between($screen-sm, $screen-md) {
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        width: 250px;
        height: 250px;
        margin-left: 0;
        border: 1px solid $highlight-color;
        border-radius: 50%;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 248px;
          height: 248px;
          border: 2px solid #fff;
          border-radius: 50%;
          content: '';
        }
      }

      @include respond-below($screen-sm) {
        flex: auto;
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        // margin-left: 0;
        border: 1px solid $highlight-color;
        border-radius: 50%;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid #fff;
          border-radius: 50%;
          content: '';
        }
      }

      img {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }

  &.home-page {
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 340px;
      z-index: -1;
      background-color: #EFFBF8;
      content: '';

      @media (max-width: 1600px) {
        left: 300px;
      }

      @include respond-below($screen-lg) {
        left: 250px;
      }

      @include respond-below($screen-md) {
        left: 0;
      }
    }

    .icon-decor {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 370px;
      z-index: -1;

      @media (max-width: 1600px) {
        left: 300px;
      }

      @include respond-below($screen-lg) {
        left: 280px;
      }

      @include respond-below($screen-md) {
        left: 0;
      }
    }

    .icon-semicircle-outline {
      display: block;

      @include respond-below($screen-sm) {
        display: none;
      }
    }
  }

  &.contact-page {
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 340px;
      z-index: -1;
      background-color: #EFFBF8;
      content: '';

      @media (max-width: 1600px) {
        left: 300px;
      }

      @include respond-below($screen-lg) {
        left: 250px;
      }

      @include respond-below($screen-md) {
        left: 0;
      }
    }
  }
}