.project-page {
  overflow-x: hidden;

  .section-head {
    margin-bottom: 50px;
  }

  .project {
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
    }

    &-item {
      width: calc((100% - 64px) / 3);

      @include respond-below($screen-md) {
        width: calc((100% - 32px) / 2);
      }
    }
  }

  .pagination {
    margin-top: 64px;
  }

  .divider {
    margin-top: 32px;
  }

  &-detail {
    .website-link {
      display: block;
      margin-top: 16px;
      font-size: 18px;
      font-weight: 400;
      font-family: 'Karla', sans-serif;
      color: $secondary;
      line-height: 24px;

      &>a {
        margin-left: 4px;
        font-style: italic;
        color: $secondary;
        transition: color .2s ease;

        &:hover {
          color: $primary;
        }
      }
    }

    .section {
      &-head {
        .title-main {
          margin-top: 30px;
        }
      }

      &-content {
        margin-top: 50px;

        .img-full {
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .paragraph {
      flex: 1;
    }

    .text-detail {
      margin-top: 50px;

      &-col {
        display: flex;
        flex: 1;
        justify-content: space-between;
        gap: 50px;

        @include respond-below($screen-lg) {
          flex-direction: column;
          gap: 30px;
        }
      }

      .text {
        font-size: 18px;
        font-weight: 400;
        font-family: 'Karla', sans-serif;
        color: $secondary;
        line-height: 32px;

        &:not(:first-child) {
          margin-top: 32px;
        }
      }
    }

    .info-other {
      min-width: 210px;
      padding-left: 60px;

      @include respond-below($screen-lg) {
        padding-left: 0;
      }

      &-item {
        display: flex;
        flex-direction: column;

        @include respond-below($screen-lg) {
          flex-direction: row;
          align-items: center;
        }

        &:not(:first-child) {
          margin-top: 12px;
          @include respond-below($screen-lg) {
            margin-top: 8px;
          }
        }
      }

      .key {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Karla', sans-serif;
        color: $secondary;
        line-height: 24px;
      }

      .value {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Karla', sans-serif;
        color: rgba(85, 82, 124, 0.80);
        line-height: 24px;

        @include respond-below($screen-lg) {
          margin-left: 12px;
        }
      }

      .share-sns {
        display: flex;
        align-items: center;
        margin-top: 12px;

        @include respond-below($screen-lg) {
          margin-top: 0;
        }
      }

      .btn {
        &-icon {
          width: 16px;
          height: 16px;
          background-size: 100% auto;

          &:not(:first-child) {
            margin-left: 8px;
          }
        }

        &-facebook {
          background: url(../../../img/svg/icon-facebook.svg) no-repeat;
        }

        &-instagram {
          background: url(../../../img/svg/icon-instagram.svg) no-repeat;
        }

        &-linkedin {
          background: url(../../../img/svg/icon-linkedin.svg) no-repeat;
        }
      }
    }

    .img-box {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      gap: 40px;

      @include respond-below($screen-lg) {
        gap: 20px;
      }

      .img-col {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 40px;

        @include respond-below($screen-lg) {
          gap: 20px;
        }

        &-2 {
          .image {
            width: calc((100% - 40px) / 2);

            @include respond-below($screen-lg) {
              width: calc((100% - 20px) / 2);
            }

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }

      .image {
        display: block;
        // margin-bottom: 40px;

        // @include respond-below($screen-lg) {
        //   margin-bottom: 20px;
        // }
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}