.services-page {
  .section {
    &-head {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .contact-link {
        font-size: 18px;
        font-weight: 600;
        color: $primary;
        line-height: 32px;
        text-decoration: underline;
        text-underline-position: under;
        transition: color .2s ease-in-out;

        @include respond-below($screen-md) {
          font-size: 16px;
          line-height: 28px;
        }

        &:hover {
          color: $yellow;
        }
      }
    }

    &-content {
      margin-top: 50px;

      .image-desc {
        margin-top: 100px;

        img {
          width: 100%;
        }
      }
    }
  }

  .services {
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: -20px -15px;
    }

    &-item {
      width: calc(33.33% - 30px);
      margin: 20px 15px;
      padding: 26px 25px 30px;
      border: 1px solid rgba(30, 30, 30, 0.20);
      border-radius: 4px;

      @include respond-below($screen-lg) {
        width: calc(50% - 30px);
      }

      @include respond-below($screen-sm) {
        width: 100%;
      }

      .num-order {
        font-size: 20px;
        font-weight: 500;
        color: $secondary;
        line-height: 32px;

        @include respond-below($screen-md) {
          font-size: 18px;
          line-height: 26px;
        }
      }

      .text-title {
        display: block;
        margin-top: 15px;
        font-size: 20px;
        font-weight: 700;
        color: $primary;
        line-height: 26px;

        @include respond-below($screen-md) {
          font-size: 18px;
          line-height: 26px;
        }
      }

      .text-desc {
        display: -webkit-box;
        overflow: hidden;
        margin-top: 12px;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Karla', sans-serif;
        color: $secondary;
        line-height: 27px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @include respond-below($screen-md) {
          font-size: 17px;
        }
      }

      .read-more {
        display: inline-block;
        position: relative;
        margin-top: 24px;
        padding-left: 30px;
        font-size: 16px;
        font-weight: 500;
        color: $primary;
        line-height: 32px;

        .icon-arrow {
          position: absolute;
          top: 50%;
          width: 20px;
          height: 20px;
          background: url("../../../img/svg/icon-arrow-right.svg") no-repeat;
          transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
          transform: translateY(-50%);
          content: '';

          &.before {
            left: 0;
            transform-origin: left center;
          }

          &.after {
            right: 0;
            opacity: 0;
            transform: translate(75%, -50%);
            transform-origin: right center;
          }
        }

        .text {
          display: inline-block;
          transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
        }

        &:hover {
          .text {
            transform: translateX(-30px);
          }

          .icon-arrow {
            &.before {
              opacity: 0;
              transform: translate(-75%, -50%);
            }

            &.after {
              opacity: 1;
              transform: translate(0, -50%);
            }
          }
        }
      }
    }
  }
}